body{
  background-color: black;
  height: auto;
}

button{
  margin: auto;
  margin-top: 10px;
  width: 30%;
  background-color: black;
  color: white;
  font-family: 'Raleway', sans-serif;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;

  border-width: 2px;
  border-style: solid;
  border-image:
    linear-gradient(
      to right,
      #46b27f,
      #008b88
    ) 1;
}
button:hover{
  border-width: 2px;
  border-style: solid;
  border-image:
    linear-gradient(
      to right,
      #fff,
      #46b27f
    ) 1;
}

p{
  width: 70%;
  font-family: 'Raleway', sans-serif;
  color: white;
}
h1, h2, h3{
  font-family: 'Raleway', sans-serif;
  color: #fff;
  margin-top: 30px;
}

.logo_a{
  height: 70px;
}

.mail{
  height: 30px;
  margin: 30px;
}
#impressum {
  position: absolute;
  top: 0px;
  margin-right: auto;
  margin-left: auto;
  right: 0%;
}
#wrapper_finge{
  margin-left:15%;
  margin-right: 15%;
  width: 70%;
}

::selection {
  background: #ffb94b; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb94b; /* Gecko Browsers */
}

@media only screen and (max-width: 700px) {
  /* For mobile phones: */

  button{
    margin: auto;
    margin-top: 10px;
    width: 100%;
    background-color: black;
    color: white;
    font-family: 'Raleway', sans-serif;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;

    border-width: 2px;
    border-style: solid;
    border-image:
      linear-gradient(
        to right,
        #46b27f,
        #008b88
      ) 1;
  }
  button:hover{
    border-width: 2px;
    border-style: solid;
    border-image:
      linear-gradient(
        to right,
        #fff,
        #46b27f
      ) 1;
  }

a{
  font-family: 'Raleway', sans-serif;
  color: white;
}
  p{
    width: 90%;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 0.9rem;
  }
  h1, h2, h3{
    font-family: 'Raleway', sans-serif;
    color: #fff;
  }


  .logo_a{
    height: 70px;
  }
  ::selection {
    background: #ffb94b; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: #ffb94b; /* Gecko Browsers */
  }

  #wrapper_finge{
    margin-left:10px;
    margin-right: 10px;
    width:90%;
  }
}

nav#dot-nav {
  position: fixed;
  right: 20px;
  top: 20px;
}

nav#dot-nav a {
  border: 1px solid #121212;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  display: block;
  margin: 10px;
}

nav#dot-nav a.active, nav#dot-nav a:first-child {
  background: #121212;
}
